<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="UpdatedSchool" method="POST">
	   			<table border="1" cellpading="5">
	   			
					<tr><th>ID</th><th>Nazwa Szkoły</th><th>Adres</th><th>Akcja</th></tr>
					
					<tr th:each="school: ${schoolId}">
					
					<td><span th:text="${school.id}" /></td>
					<td><input type="text" name="schoolName" th:value="${school.name}" /> </td>
					<td><input type="text" name="schoolAddress" th:value="${school.address}" /> </td>
					<td><input type="submit" value="Update"/></td>
					<input type="hidden" name="schoolId" th:value="${school.id}" /> 					
					</tr>
				</table>
				</form>
					
    </div>

</body>
</html>

