<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>



    <span layout:fragment="pageTitle"> - Klasy </span>

    <div layout:fragment="content">
    	<div th:include="menuFragment" ></div>
		<br/><Br/>
		
		<form action="StudentUpdated" method="POST">
		<table border="1" cellpadding="5">
			<tr><th>Id</th><th>Imę</th><th>Nazwisko</th><th>Pesel</th><th>Akcje</th></tr>
			<tr th:each="student:${studentToUpdate}">
				<td><span th:text="${student.id}" /></td>
				<td><input type="text" name="studentName" th:value="${student.name}" /></td>
				<td><input type="text" name="studentSurname" th:value="${student.surname}" /></td>
				<td><input type="text" name="studentPesel" th:value="${student.pesel}" /></td>
		        <td><input type="submit" value="Update"/></td>
				<input type="hidden" name="studentId" th:value="${student.id}" />
        		         
			</tr>
		</table>
		</form>
		
		<br/><a href='AddStudent'>Dodaj studenta</a><br/><br/>
		
    </div>

</body>
</html>